<div class="container-big-card">
  <div class="big-card-photo">
    <img src="https://cdn.motor1.com/images/mgl/JvB4M/s4/2021-ferrari-omologata.webp" alt="Ferrari 01">
  </div>
  <a href="https://github.com/EfraimCancio/blog-angular" target="_blank">
    <div class="big-card-title">
      <h1>Efraim comprou uma ferrari</h1>
    </div>
    <div class="big-card-description">
      <p>Modelo com motor V12 presta homenagem aos GTs da fabricante. a Ferrari Omologata é revelada pela fabricante
        como
        a décima criação única com motor V12</p>
    </div>
  </a>
</div>
